# macOS
.DS_Store

# C++
*.o
*.out
*.exe

# VSCode
.vscode/
.vscode/c_cpp_properties.json


# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
Packages/
ProjectSettings/
UserSettings/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
